# Gradle
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Logs and temp files
*.log
*.tmp
*.pid

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# OS files
.DS_Store
Thumbs.db
ehthumbs.db

# Environment variables
.env
.env.local

# API and test-related
*.json
*.yaml
*.xml